<mat-toolbar >
   <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle();">
      <mat-icon ><FONT COLOR="#FBFCFC">menu </FONT></mat-icon>
    </button>
       <h1><FONT COLOR="#FBFCFC">Task Manager </FONT></h1>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container style="background-color :rgb(40, 39, 39);border: 1px solid grey;"  >
  <mat-sidenav #sidenav opened="true" mode="side" style="background-color :rgb(40, 36, 36);border: 1px solid grey;"  >
     <mat-nav-list  >
          <a mat-list-item routerLink="/mytask" routerLinkActive="active-link" ><span style="color:rgb(227, 219, 219);">My Task</span></a>

          <a mat-list-item routerLink="/patienttask" routerLinkActive="active-link" ><span style="color:rgb(247, 242, 242);">Patient Task</span></a>
          
     </mat-nav-list>
  </mat-sidenav>
 <mat-sidenav-content>
    <div style="height: 88vh;">
  <router-outlet>
  </router-outlet>
    </div>
</mat-sidenav-content>
</mat-sidenav-container>